{% extends 'base.html.twig' %}

{% block title %}Modifier l'espace{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Modifier l'espace <i>{{ espace.Nom }}</i></h1>
        {{ form(formulaire) }}
    </div>

{% endblock %}