{% extends 'base.html.twig' %}

{% block title %}Supprimer l'espace{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Etes-vous sûr de vouloir supprimer l'espace' ? <i>{{ espace.Nom }}</i></h1>
        {{ form(formulaire) }}
        <a href="{{ path("app_espace") }}" class="btn btn-warning">Annuler</a>
    </div>

{% endblock %}